header {
  background-color: white;
  z-index: 2;
  position: relative;

  nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;

    .navigation {
      .hamburger {
        display: none;
      }
      .nav-func {
        display: flex;
        flex-direction: row;
        column-gap: 25px;
        color: black !important;
        .nav-item {
          color: black;
        }
        .hamburger {
          display: none;
        }
        .nav-item {
          text-align: left;
          border-bottom: 1px solid transparent;
          transition: 0.5s all;
        }
        .active {
          border-bottom: 1px solid red;
        }
        .nav-item:hover {
          border-bottom: 1px solid red;
        }
      }
    }

    .nav-icon {
      display: flex;
      align-items: center;
      column-gap: 30px;
      .icon-user {
        position: relative;
        ul {
          transition: 0.5s all;
          box-shadow: -1px 2px 23px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: -1px 2px 23px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: -1px 2px 23px 0px rgba(0, 0, 0, 0.75);
          max-height: 0px;
          overflow: hidden;
          visibility: hidden;
          position: absolute;
          top: 110%;
          background-color: white;
          width: 100px;
          padding: 0px;
          li {
            padding: 5px;
            transition: 0.5s all;
          }
          li:hover {
            background-color: #212025;
            a {
              color: white !important;
            }
          }
        }
        .show-user {
          max-height: 500px;
          visibility: visible;
        }
      }
    }

    button {
      border: none;
      background-color: white;
      font-weight: 500;
    }

    button:hover {
      transform: scale(1.05);
      transition: cubic-bezier(0.175, 2.885, 0.32, 1.275);
      transition-duration: 0.5s;
    }
  }
}
@media screen and (max-width: 992px) {
  header {
    background-color: white;
    position: relative;
    z-index: 2;
    nav {
      .navigation {
        background-color: #4c4c4c;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        padding: 10px;
        .hamburger {
          display: block;
          width: 100%;
          text-align: right;
          button {
            background-color: #222;
            border-radius: 10px;
            color: white;
            padding: 5px;
          }
        }
        .nav-func {
          flex-direction: column;
          overflow: hidden;
          visibility: visible;
          opacity: 0;
          max-height: 0px;
          transition: 0.5s all;
          .nav-item {
            a {
              color: white !important;
            }
          }
        }
        .show {
          visibility: visible;
          opacity: 1;
          max-height: 500px;
        }
      }
    }
  }
}
