*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

:root{
    --big-font-color--: #0b1c39;
    --small-font-color--: #212025;
}

img {
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none !important;
    text-decoration-color: black;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
header{
    background-color: white;
    nav{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .nav-func{
            display: flex;
            column-gap:25px;
            padding-top: -20px;
            cursor: pointer;
        }
        button{
            border: none;
            background-color: white;
            font-weight: 500;
        }
        button:hover{
            transform: scale(1.05);
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-duration: 0.5s;
        }
    }
}

/* start banner */
.banner{
    background-color: #f0f0f2;
    align-items: center;
    text-align: center;
    display: flex;
    overflow: hidden;
    min-height: 500px;
    background-position: 50%;
    background-image: url("https://preview.colorlib.com/theme/timezone/assets/img/hero/about_hero.png");
    .banner-title{
        color: var(--big-font-color--);
        h2{
            font-weight: 700 !important;
            font-size: 70px;
            font-family: "Josefin Sans", sans-serif;
            text-size-adjust: 100%;
        }
    }
}

/* start newest arrival */
.products{
    text-align: center;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 50px;
    .justify{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between !important;
        gap: 400px;
        margin-bottom: 50px;
    }
    button {
    font-size: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 1s ease;
    }

    button:active {
    border-bottom: 2px solid red;
    }
    .properties-btn{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;

    }
    
    .popular-title {
        padding-top: 50px;
        padding-bottom: 30px;
        width: 50%;
        display: inline-block;
        .section-title{
            font-family: "Josefin Sans",sans-serif;
            font-weight: bold;
        }
    }
    .watch-box{
        padding-bottom: 10px;
    }
    .watch-box:hover{
        transform: scale(1.05);
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-duration: 0.5s;
    }
}



/* start shop-method */
#shop-method{
    background-color: white;
    padding: 50px;
    .method-wrapper{
        background-color: red;
        .method{
            padding: 65px 65px;
            text-align: left;
            .method-title{
                font-family: "Roboto",sans-serif;
                color: white;
                font-size: 20px;
                font-weight: 700;
            }
            .method-desc{
                font-family: "Roboto",sans-serif;
                font-size: 20px;
                color: white;
            }
            .method-logo{
                text-align: left;
                text-size-adjust: 100%;
                color: white;
            }
    }
    }
    
}